.App {
  text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
    min-height: 10vh;
}
.myDIV {
  display: block;
  background-color: brown;
}
